<!DOCTYPE html>
<html>
  <head>
    <title>SQP</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
      <div class="container">
          <div class="center-block welcome">
          <div class="title text-center">
              <h1>Welcome to </h1>
              <h1>The Student Queue Project</h1>
              <hr>
          </div>
          
         
          <div class="logo">
              <div class="pull-right" id="team-logo">
                  <img alt="Team BUDS logo" src="/assets/buds_bigger.png" id="teamlogo" />
              </div>
              
              <div  class="pull-left" id="schoollogo">
                  <img alt="Camosun logo" src="/assets/camosun-logo-print.png" />
              </div>
          </div>
          <div class ="link text-center">
              <p>
                 <%= button_to "Enter to the Student Queue Manager", login_path, method: :get, :class => "welcomebtn btn-block" %>
              </p>
          </div>
          
          </div>    
      </div>
  </body>
</html>