<% unless request.blank? %>
  <li class="request">
    <div class="theme">
      <h4><b class="arrow"></b><b>Submitter:</b> <%= request.user.full_name %>&nbsp;&nbsp; 
        <b>Submitted:</b> <%= time_ago_in_words(request.created_at) %> ago </h4>
    </div>
    <div class="abstract">
      <textarea readonly = "true", class ="form-control info-box"><%= request.info %></textarea>
      <br>
      <%= link_to "Complete", request, method: :delete, class: "btn btn-primary pull-right" %>
    </div>
  </li>
<% end %>