<li>
  <div class="theme">
    <h4><b class="arrow"></b>Submitter: <%=request.user.full_name%></h4>
  </div>
  <div class="abstract">
    
      <textarea readonly = "true", class ="form-control info-box"  ><%= request.info %></textarea>
      <br>
      <%= link_to "Complete", request, method: :delete, class: "btn btn-primary pull-right" %>
  </div>
</li>
<br>
