<% content_for :title, "New Request" %>
<div class="container contents" id= "new_request_page">
  <h2>Select the Request Type:</h2>
  <br>
  <div class ="request_type row">
    <div class="col-md-4 text-center">
      <button class="btn btn-primary" id="question">Question</button>
    </div>
    <div class="col-md-4 text-center">
      <button class="btn btn-primary" id="support">Support</button>
    </div>
    <div class="col-md-4 text-center">
      <button class="btn btn-primary" id="demo">Demo</button>
    </div>
  </div>
  <div class="form_bg">
    <%= render partial: 'new_queue_types' %>
  </div>
</div>