<% content_for :title, "Your Request" %>
<div class= "container contents form_bg">
	<h2>Requested Type: <%= @request.queue_type.capitalize %></h2>
	<hr>
	<br>
	<h4>Request Description</h4>
	<textarea readonly = "true", class ="form-control info-box"  ><%=@request.info%>
	</textarea>
	<br>
	<br>
	<div class="text-center">
		<%= link_to "Complete", @request, method: :delete, class: "btn btn-primary btn-lg" %>
	</div>
</div>
