@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$light-grey:  #f4f4f4;
$brown-grey:  #393333;
$heavy-green: #7ca12e;
$heavy-grey:  #5a5a5a;
$dark-blue:   #3f5f88;
$light-green: #91bd36;
$white:       #FFFFFF;

/* universal */
body{
    
    background-image: url(background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $light-green;
    font-family: "NeueHaas",sans-serif;
}

.contents {
    margin-top: 120px;
}

/* Header */
.navbar-custom{
    background-color: $heavy-grey;
}

.navbar{
   padding-right: 60px;
   padding-left: 30px;
}

#appLogo {
  float: left;
  margin-right: 5px;
  font-family: Verdana, sans-serif;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  
}

.sub-title{
  padding-top: 9px;
  font-size: 1.7em;
  font-family: Verdana, sans-serif;
  color: $white;
  margin-left: 5px;
}

#username{
    float: left;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    color: $white;
    padding-top: 9px;
    margin-right: 5px;
    margin-top: 22px;
    margin-left: 5px;
}

.links{
    margin-top: 15px;
    color: $white;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    
    a{
        color:$white;
    }
    
    a:hover{
        color: $dark-blue;
    }
    
}

.request {
   margin-bottom: 2em; 
}