@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$light-grey:  #f4f4f4;
$brown-grey:  #393333;
$heavy-green: #7ca12e;
$heavy-grey:  #5a5a5a;
$dark-blue:   #3f5f88;
$light-green: #91bd36;
$white:       #FFFFFF;
$white-trans: rgba(255, 255, 255, 0.4);

.form_bg{
	  padding: 10px 10px 10px 10px;
    background-color: $white-trans;
    
    hr{
    	border-top: 1px solid $dark-blue;
    	text-align: center;
    }
    
    .info-box{
    		width: 100%;
    		height: 150px;
    }
}

.request_type{
	margin-top: 5px;
	margin-bottom: 10px;
}