<header class="navbar navbar-fixed-top navbar-custom">
    <h1 id="appLogo">Student Queue Manager</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Manage Requests",   '#' %></li>
        <li><%= link_to "Manage Users",   '#' %></li>
        <li><%= link_to "Add User",   '#' %></li>
        <li><%= link_to "Log Out",   '#' %></li>
        <li><h3>Instructor View</h3></li>
      </ul>
    </nav>
</header>