<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Student Queue Manager", '#', id: "app" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>Sign On</li>
      </ul>
    </nav>
  </div>
</header>