<header class="navbar navbar-fixed-top navbar-custom">
  
    <h1 id="appLogo">Student Queue Manager</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li id="sub-title">Sign On</li>
      </ul>
    </nav>
</header>